
.campaign-actions-and-reports-container {
  display: flex;
  gap: 25px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.fund-campaign-section {
  flex: 1;
  min-width: 300px;
}

.fund-usage-report-section {
  flex: 1;
  min-width: 300px;
}
